body {
    margin: 0;
    padding: 0;
}

#game-container {
    display: grid;
    max-width: fit-content;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: auto
}

.tile {
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    box-sizing: border-box;
}

.tile-W {
    background-color: #000;
}

.tile-S {
    background-color: #fff;
}

.tile-G {
    background-color: #00f;
}

.tile-B {
    background-color: bisque;
    border: 1px solid black;
}

.tile-P {
    background-color: rgb(255, 0, 0);
}